@font-face {
  font-family: "Yomogi";
  src: url("../../../fonts/Yomogi-Regular.ttf");
}

.projectsContent {
  display: flex;
  margin-top: 2rem;
  align-items: center;
}

.alignItems {
  display: flex;
  align-items: center;
  justify-content: center;
}

.titleProject {
  text-align: center;
  align-items: center;
  padding: 3rem;
  font-size: 4rem;
  font-family: "Yomogi";
  color: white;
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 580px) {
  .titleProject {
    font-size: 2.5rem;
  }
}
