@font-face {
  font-family: "Yomogi";
  src: url("../../fonts/Yomogi-Regular.ttf");
}

.headerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name {
  text-align: center;
  vertical-align: center;
  align-items: center;
  font-size: 7rem;
  font-family: "Yomogi";
  color: grey;
}

.subtitle {
  text-align: center;
  color: white;
  vertical-align: center;
  margin-top: 3rem;
  font-size: 2rem;
  font-family: "Yomogi";
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 683px) {
  .name {
    font-size: 7rem;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 682px) {
  .name {
    font-size: 3rem;
  }
}
